<!DOCTYPE HTML>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>Tiger Admin</title>
  <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/1.13.0/jquery-ui.min.js}"></script>
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap-tiger.css}">
  <link rel="stylesheet" th:href="@{/css/jquery.contextMenu.min.css}">
  <link rel="stylesheet" th:href="@{/css/BsMultiSelect.min.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <button aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-bs-target="#navbarColor02" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle menu-testenv" data-bs-toggle="dropdown" href="#"
               role="button">Testenvironment</a>
            <div class="dropdown-menu">
              <a class="dropdown-item btn-new-testenv" href="#">New</a>
              <a class="dropdown-item btn-open-testenv" href="#">Open...</a>
              <a class="dropdown-item btn-save-testenv disabled" href="#">Save</a>
              <a class="dropdown-item btn-save-as-testenv disabled" href="#">Save as...</a>
              <!--
              <div class="dropdown-divider"></div>
              <a class="dropdown-item disabled" href="#">Separated link</a>
              -->
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/gematik/app-Tiger" target="github">About Tiger</a>
          </li>
        </ul>
        <ul class="navbar-right">
          <li>
            <img alt="gematik logo" class="gematik-logo" src="/img/gematik.svg">
          </li>
        </ul>
        <!--
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
      </div>
    </div>
  </nav>
  <div class="row top-margin">
    <div class="col-sm-3 col-md-3 sidebar-col">
      <div class="testenv-sidebar-header hidden">
        <div class="row box-config-file server-label mb-3">
          <strong class="cfg-file-label">Unsaved test environment</strong>
        </div>
        <div class="row">
          <div class="sidebar-toolbar border-primary btn-group-horizontal btn-group" role="group">
            <div class="legend">Server & Testvorlagen</div>
            <button class="btn btn-right btn-add-server" title="Server & Testvorlagen" type="button">
              <i class="fas fa-plus fa-lg"></i>
            </button>
          </div>
        </div>
        <div class="box sidebar-local-proxy row mt-3" id="sidebar_server_local_proxy">
          <div class="col-11 offset-1">
            <i class="server-icon fas fa-project-diagram" title="local tiger proxy">
            </i>
            <span class="server-label">Local Tiger proxy</span>
          </div>
        </div>
      </div>
      <div class="container sidebar server-container">
      </div>
    </div>
    <div class="col-sm-9 col-md-9 offset-3">
      <div class="text-end mb-5">
        <button class="hidden btn btn-lg btn-primary btn-save-testenv px-5" title="Speichern" type="button">
          <span>Speichern</span>
        </button>
      </div>
      <div class="server-content server-container centered">
      </div>
    </div>
  </div>
</div>

<section class="d-none" id="html-templates">

  <div class="d-none" id="template-welcome-card">
    <div class="card-body welcome-card">
      <section class="highlight-clean">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <h1 class="mb-1">TIger</h1>
              <p class="text-muted mb-5">Agiles Testen in der Telematik-Infrastruktur</p>
              <p>
                <button class="btn btn-outline-primary btn-lg btn-add-server w-50" type="button">Server hinzufügen...</button>
              </p>
              <p>
                <button class="btn btn-outline-secondary btn-lg btn-open-testenv w-50" type="button">Projekt laden...</button>
              </p>
            </div>
            <div class="col">
              <img alt="Tiger logo" class="mb-4 ml-4 p-1 border border-primary rounded"
                   src="/img/tiger2-plain.svg" width="160">
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>


  <div class="flex-fill server-formular d-none" id="template-server-formular">
    <!-- left column with heading and general settings/source -->
    <div class="flex-fill server-formular-heading">
      <div>
        <h1 class="text-break fs-4" style="padding: 1rem;border-radius: 0 0 1rem 0;">
          <i class="server-icon"></i>
          <span class="server-key"></span>
          <i class="server-formular-collapse-icon fas fa-angle-down"></i>
          <button class="btn btn-outline-primary btn-advanced global">
            <i class="fas fa-toolbox"></i>&nbsp;&nbsp;Erweiterte Einstellungen
          </button>
        </h1>
      </div>

      <!-- tabs -->
      <div class="flex-fill align-self-stretch order-last tabbedpanel">
        <div>
          <!-- tab top links -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation" tab="general"
                title="All general settings of a node">
              <a class="nav-link" data-bs-toggle="tab" role="tab">Allgemeines</a>
            </li>
            <li class="nav-item" role="presentation" tab="dockerOptions"
                title="All settings related to your docker container or composition">
              <a class="nav-link" data-bs-toggle="tab" role="tab">Docker</a>
            </li>
            <li class="nav-item" role="presentation" tab="externalJarOptions"
                title="All settings for how to start the external Jar archive">
              <a class="nav-link" data-bs-toggle="tab" role="tab">External</a>
            </li>
            <li class="nav-item" role="presentation" tab="tigerProxy"
                title="All settings specific to the tiger proxy setup">
              <a class="nav-link active" data-bs-toggle="tab" role="tab">TigerProxy</a>
            </li>
            <li class="nav-item" role="presentation" tab="pkiKeys"
                title="All Keys and Certififcates you want to configure for the local Tiger proxy">
              <a class="nav-link" data-bs-toggle="tab" role="tab">PKI</a>
            </li>
            <li class="nav-item" role="presentation" tab="environment"
                title="Environment variables you want to provide to the node and System properties you want to export from this node">
              <a class="nav-link" data-bs-toggle="tab" role="tab">Environment</a>
            </li>
            <li class="nav-item" role="presentation" tab="urlMappings"
                title="Additional routings you want to add to the local tiger proxy specifically for this node">
              <a class="nav-link" data-bs-toggle="tab" role="tab">URL Mappings</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <!-- GENERAL PANEL --->
      <div class="tab-pane fade general" role="tabpanel">
        <div>
          <fieldset section="node-settings">
            <legend>
              Node settings
              <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
              <span class="fieldset-summary fs-6"></span>
              <i class="fas fa-toolbox btn-advanced"></i>
            </legend>
            <!-- not shown as both values are dealt with in the heading -->
            <span class="hidden">
              <input name="type">
              <input name="key">
            </span>
            <div class="input-group">
              <span class="input-group-text">Hostname</span>
              <input class="form-control" name="hostname"
                     title="Hostname under which this server node is presented to the test suite. If empty defaults to the server key."
                     type="text">
              <div class="valid-feedback">Empty value defaults to server key.</div>
            </div>
            <div class="input-group">
              <span class="input-group-text">Template</span>
              <input class="form-control disabled" disabled name="template" readonly title="The template this node is based upon."
                     type="text">
              <button class="btn btn-reset-template btn-outline-warning hidden"
                      title="Reset node to initial template values"
                      type="button">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="input-group advanced">
              <span class="input-group-text">Depends Upon</span>
              <select class="form-select" name="dependsUpon" multiple
                      title="Choose another node that must be ready before the actual node is started.">
              </select>
            </div>
            <div class="input-group advanced">
              <span class="flex-fill input-group-text">Startup Timeout (sec)</span>
              <input class="form-control" name="startupTimeoutSec" required
                     title="Number of seconds to wait till healthcheck reports this server as started successfully" type="number"
                     validation="value > 0">
              <div class="invalid-feedback">Please specify a positive number greater than zero.</div>
            </div>
            <span class="form-check form-switch">
              <input checked class="form-check-input" name="active" type="checkbox">
              <label class="form-check-label">Instantiate this node on test run</label>
            </span>
          </fieldset>
          <fieldset class="editableList" section="source-settings">
            <legend>
              Source
              <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
              <span class="fieldset-summary fs-6"></span>
            </legend>
            <div class="row">
              <div class="col align-items-stretch">
                <ul class="list-group" name="source"></ul>
              </div>
              <div class="col-auto col-list-btns">
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-text">Version</span>
              <input class="form-control" name="version"
                     title="Version of the docker image or tiger proxy to be downloaded and instantiated"
                     type="text">
            </div>
          </fieldset>
          <div class="local_proxy_info hidden">
            <p>
              The local tiger proxy is instantiated automatically on startup of your test suite given you have included the
              Tiger BDD hooks.
              The Java proxy system properties
              <inlinepre>http(s).proxyHost</inlinepre>
              and
              <inlinepre>http(s).proxyPort</inlinepre>
              are adjusted
              and Restassured and Unirest calls will also be routed via the local proxy.
            </p>
            <p>
              If you have those system properties already set, Tiger will not overwrite them!
            </p>
            <p>
              Please note that all nodes will be available to your test suite via their configured hostname.
              You don't need to configure them here.
            </p>
            <p>Advanced settings are hidden per default and can be revealed by clicking on the toolbox icon
              <i class="fas fa-toolbox btn-advanced" style="font-size:100%;float:none;" title="Show advanced settings"></i>
            </p>
            <div class="form-check form-switch">
              <input checked class="form-check-input hidden" name="localProxyActive" type="checkbox">
              <label class="form-check-label">Activate local Tiger proxy on startup</label>
            </div>
          </div>
        </div>
      </div>
      <!-- DOCKER PANEL --->
      <div class="tab-pane fade dockerOptions" role="tabpanel">
        <fieldset section=".dockerOptions.dockerSettings">
          <legend>
            Docker settings<i class="collapse-icon fas fa-angle-down"></i>&nbsp;
            <span class="fieldset-summary fs-6"></span><i class="fas fa-toolbox btn-advanced"></i>
          </legend>
          <div class="input-group advanced">
            <span class="input-group-text">Entry Point cmd</span>
            <input class="form-control" name=".dockerOptions.entryPoint" title="Overwrite the entry point cmd for this docker image."
                   type="text">
          </div>
          <div class="row input-group mt-3">
            <div class="form-check form-switch" style="clear:both;">
              <input class="form-check-input" name=".dockerOptions.proxied" type="checkbox">
              <label class="form-check-label">Proxied container (add Tigerproxy certs to container OS)</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" name=".dockerOptions.oneShot" type="checkbox">
              <label class="form-check-label">Apply One shot health check strategy</label></div>
          </div>
        </fieldset>
        <fieldset class="editableList" section=".dockerOptions.serviceHealthchecks">
          <legend>Service Healthchecks<i class="collapse-icon fas fa-angle-down"></i>&nbsp;<span
              class="fieldset-summary fs-6"></span>
          </legend>
          <div class="row">
            <div class="col form-text">
              URLs to be used to check for successfully started services
            </div>
          </div>

          <div class="row">
            <div class="col align-items-stretch">
              <ul class="list-group" name=".dockerOptions.serviceHealthchecks"></ul>
            </div>
            <div class="col-auto col-list-btns">
            </div>
          </div>
        </fieldset>
      </div>
      <!-- EXTERNAL JAR PANEL -->
      <div class="tab-pane fade externalJarOptions" id="tab-11" role="tabpanel" section=".externalJarOptions">
        <fieldset section=".externalJarOptions.externalSettings">
          <legend>External Settings<i class="collapse-icon fas fa-angle-down"></i>&nbsp;<span
              class="fieldset-summary fs-6"></span></legend>
          <div class="input-group">
            <span class="input-group-text">Working directory</span>
            <input class="form-control" name=".externalJarOptions.workingDir"
                   title="Folder from which to start the node's Jar archive. Resorts to temp folder if empty"
                   type="text">
            <!--
            <button class="btn btn-secondary" type="button">Browse...</button>
            -->
          </div>
          <div class="input-group">
            <span class="input-group-text">Health check URL</span>
            <input class="form-control" name=".externalJarOptions.healthcheck"
                   title="URL to be used to check for successfully started node"
                   type="url">
          </div>
        </fieldset>
        <fieldset class="editableList start-collapsed" section=".externalJarOptions.options">
          <legend>Options<i class="collapse-icon fas fa-angle-down"></i>&nbsp;<span
              class="fieldset-summary fs-6"></span>
          </legend>
          <div class="row">
            <div class="col form-text">
              Options for the Java virtual machine starting the Jar executable
            </div>
          </div>
          <div class="row">
            <div class="col align-items-stretch">
              <ul class="list-group" name=".externalJarOptions.options"></ul>
            </div>
            <div class="col-auto col-list-btns">
            </div>
          </div>
        </fieldset>
        <fieldset class="editableList start-collapsed" section=".externalJarOptions.arguments">
          <legend>Arguments<i class="collapse-icon fas fa-angle-down"></i>&nbsp;<span
              class="fieldset-summary fs-6"></span>
          </legend>
          <div class="row">
            <div class="col form-text">
              Arguments / Parameters for the Jar executable
            </div>
          </div>

          <div class="row">
            <div class="col align-items-stretch">
              <ul class="list-group" name=".externalJarOptions.arguments"></ul>
            </div>
            <div class="col-auto col-list-btns">
            </div>
          </div>
        </fieldset>
      </div>
      <!-- TIGER PROXY PANEL -->
      <div class="tab-pane fade tigerProxy" id="tab-12" role="tabpanel">
        <div class="proxyCfg">
          <fieldset class="labels-col-4" section=".tigerProxyCfg">
            <legend>Tiger Proxy settings&nbsp;<i class="collapse-icon fas fa-angle-down"></i>&nbsp;<span
                class="fieldset-summary fs-6"></span><i class="fas fa-toolbox btn-advanced"></i></legend>
            <div class="row">
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text">Proxy Port</span>
                  <input class="form-control" name=".tigerProxyCfg.proxyCfg.port" title="Port on which the Tiger proxy is listening"
                         type="number">
                </div>
                <div class="input-group advanced">
                  <span class="input-group-text">Proxy Protocol</span>
                  <select class="form-select" name=".tigerProxyCfg.proxyProtocol"
                          title="Which protocol the proxy is using. Normally HTTP is fine.">
                    <option value="http">HTTP</option>
                    <option value="https">HTTPS</option>
                  </select>
                </div>
                <div class="input-group advanced">
                  <span class="input-group-text">Log level</span>
                  <select class="form-select" name=".tigerProxyCfg.proxyCfg.proxyLogLevel"
                          title="Log level of the proxy. WARN is fint, TRACE produces a LOT of logs.">
                    <option selected="" value="WARN">WARN</option>
                    <option value="INFO">INFO</option>
                    <option value="TRACE">TRACE</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text">Proxied Server</span>
                  <select class="form-select" name=".tigerProxyCfg.proxiedServer"
                          title="Choose another node that will be reverse proxied by this tiger proxy.">
                  </select>
                </div>
                <div class="input-group advanced">
                  <span class="input-group-text">Server Port</span>
                  <input class="form-control" name=".tigerProxyCfg.serverPort"
                         title="Port the web ui and traffic endpoint is running on."
                         type="number">
                </div>
              </div>
            </div>
            <div class="row input-group advanced mt-3">
              <div class="col-6">
                <div class="form-check form-switch advanced">
                  <input class="form-check-input" name=".tigerProxyCfg.proxyCfg.activateRbelParsing"
                         type="checkbox">
                  <label class="form-check-label">Parse Traffic via RbelLogger</label></div>
                <div class="form-check form-switch advanced">
                  <input class="form-check-input" name=".tigerProxyCfg.proxyCfg.activateRbelEndpoint"
                         type="checkbox">
                  <label class="form-check-label">Activate RbelLogger user interface</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-check form-switch advanced">
                  <input class="form-check-input" name=".tigerProxyCfg.proxyCfg.activateForwardAllLogging"
                         type="checkbox">
                  <label class="form-check-label">Log traffic even without routes</label></div>
                <div class="form-check form-switch advanced">
                  <input class="form-check-input" name=".tigerProxyCfg.proxyCfg.activateAsn1Parsing"
                         type="checkbox">
                  <label class="form-check-label">Parse ASN1 structures</label></div>
              </div>
            </div>
          </fieldset>
          <fieldset class="complex-list" section=".tigerProxyCfg.proxyCfg.proxyRoutes">
            <legend>
              Routes
              <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
              <span class="fieldset-summary fs-6"></span>
              <i class="fas fa-toolbox btn-advanced"></i>
            </legend>
            <div class="row">
              <div class="col form-text">
                Configure any additional routes of this Tiger proxy. From is the received scheme://host:port,
                To is the rerouted target URL scheme://host:port
              </div>
            </div>
            <div class="row">
              <div class="col align-items-stretch">
                <ul class="list-group" name=".tigerProxyCfg.proxyCfg.proxyRoutes"></ul>
              </div>
              <div class="col-auto col-list-btns">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <fieldset class="subset subset-below">
                  <div class="row">
                    <div class="col">
                      <label class="form-label">Route</label>
                      <div class="input-group">
                        <span class="input-group-text">ID</span>
                        <input class="form-control" name=".tigerProxyCfg.proxyCfg.proxyRoutes.id" title="Unique id of this routing."
                               type="text">
                      </div>
                      <div class="input-group">
                        <span class="input-group-text">From ↦</span>
                        <input class="form-control" name=".tigerProxyCfg.proxyCfg.proxyRoutes.from"
                               title="scheme://host:port the client wants to reach. Using '/' means catch all (reverse proxy)."
                               type="text">
                      </div>
                      <div class="input-group">
                        <span class="input-group-text">To</span>
                        <input class="form-control" name=".tigerProxyCfg.proxyCfg.proxyRoutes.to"
                               title="scheme://host:port the server will redirect the client request to."
                               type="text">
                      </div>
                      <div class="form-check form-switch advanced">
                        <input class="form-check-input" name=".tigerProxyCfg.proxyCfg.proxyRoutes.internalRoute"
                               type="checkbox">
                        <label class="form-check-label">Internal route</label>
                      </div>
                      <div class="form-check form-switch advanced">
                        <label class="form-check-label">Deactivate RbelLogger</label>
                        <input class="form-check-input" name=".tigerProxyCfg.proxyCfg.proxyRoutes.disableRbelLogging"
                               type="checkbox">
                        <!-- TODO rephrase and redefine property to be activating -->
                      </div>
                    </div>
                    <div class="col">
                      <label class="form-label">Authentication</label>
                      <div class="input-group input-group">
                        <span class="input-group-text">Username</span>
                        <input class="form-control" name=".tigerProxyCfg.proxyCfg.proxyRoutes.basicAuth.username"
                               title="User name for basic authentication credentials for this route. Leave empty if no authenticationis required."
                               type="text">
                      </div>
                      <div class="input-group input-group">
                        <span class="input-group-text">Password</span>
                        <input class="form-control" name=".tigerProxyCfg.proxyCfg.proxyRoutes.basicAuth.password"
                               title="Password for basic authentication credentials for this route."
                               type="text">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </fieldset>
          <fieldset class="labels-col-4 forwardToProxy advanced start-collapsed"
                    section=".tigerProxyCfg.proxyCfg.forwardToProxy">
            <legend>
              Forward Proxy
              <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
              <span class="fieldset-summary fs-6"></span>
            </legend>
            <div class="form-check form-switch">
              <input class="form-check-input" name="enableForwardProxy" type="checkbox">
              <label class="form-check-label">Activate forward proxy</label>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-text">Hostname</span>
                  <input class="form-control" name=".tigerProxyCfg.proxyCfg.forwardToProxy.hostname" placeholder="Your company proxy"
                         type="text">
                </div>
                <div class="input-group">
                  <span class="input-group-text">Proxy Protocol</span>
                  <select class="form-select" name=".tigerProxyCfg.proxyCfg.forwardToProxy.type">
                    <option value="http">HTTP</option>
                    <option value="https">HTTPS</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-text">Port</span>
                  <input class="form-control" name=".tigerProxyCfg.proxyCfg.forwardToProxy.port" placeholder="Your company proxy port"
                         type="number">
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="labels-col-3 editableList advanced start-collapsed"
                    section=".tigerProxyCfg.proxyCfg.trafficEndpoints">
            <legend>
              Traffic Endpoints
              <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
              <span class="fieldset-summary fs-6"></span>
            </legend>
            <div class="row">
              <div class="col form-text">
                Configure any mesh tiger proxies to aggregate traffic messages on this tiger proxy.
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-check form-switch">
                  <input class="form-check-input" name=".tigerProxyCfg.proxyCfg.skipTrafficEndpointsSubscription"
                         type="checkbox">
                  <label class="form-check-label">Skip traffic endpoint subscription at startup</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col align-items-stretch">
                <ul class="list-group" name=".tigerProxyCfg.proxyCfg.trafficEndpoints"></ul>
              </div>
              <div class="col-auto col-list-btns">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <div class="input-group">
                        <span class="flex-fill input-group-text">
                          Connection Timeout (sec)
                        </span>
                  <input class="form-control" name=".tigerProxyCfg.proxyCfg.connectionTimeoutInSeconds"
                         type="number">
                </div>
                <div class="input-group">
                  <span class="flex-fill input-group-text">Stomp Client Buffer (Mb)</span>
                  <input class="form-control" name=".tigerProxyCfg.proxyCfg.stompClientBufferSizeInMb"
                         type="number">
                </div>
              </div>
              <div class="col">

                <div class="input-group">
                  <span class="flex-fill input-group-text">Message Buffer (Mb)</span>
                  <input class="form-control" name=".tigerProxyCfg.proxyCfg.perMessageBufferSizeInMb"
                         type="number">
                </div>
                <div class="input-group">
                  <span class="flex-fill input-group-text">Rbel Buffer (Mb)</span>
                  <input class="form-control" name=".tigerProxyCfg.proxyCfg.rbelBufferSizeInMb" type="number">
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="labels-col-3 start-collapsed advanced  complex-list"
                    section=".tigerProxyCfg.proxyCfg.modifications">
            <legend>
              Modifications
              <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
              <span class="fieldset-summary fs-6"></span>
            </legend>
            <div class="row">
              <div class="col form-text">
                Configure any rewriting of traffic headers or bodies in this section.
              </div>
            </div>
            <div class="row">
              <div class="col align-items-stretch">
                <ul class="list-group" name=".tigerProxyCfg.proxyCfg.modifications"></ul>
              </div>
              <div class="col-auto col-list-btns">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <fieldset class="subset subset-below">
                  <div class="row">
                    <div class="col">
                      <div class="input-group input-group">
                        <span class="input-group-text">Name</span>
                        <input class="form-control" name=".tigerProxyCfg.proxyCfg.modifications.name" type="text">
                      </div>
                      <div class="input-group input-group">
                        <span class="input-group-text">Condition</span>
                        <input class="form-control" name=".tigerProxyCfg.proxyCfg.modifications.condition"
                               type="text">
                      </div>
                      <div class="input-group input-group">
                        <span class="input-group-text">Target Element</span>
                        <input class="form-control" name=".tigerProxyCfg.proxyCfg.modifications.targetElement"
                               type="text">
                      </div>
                      <div class="input-group input-group">
                        <span class="input-group-text">Replace With</span>
                        <input class="form-control" name=".tigerProxyCfg.proxyCfg.modifications.replaceWith"
                               type="text">
                      </div>
                      <div class="input-group input-group">
                        <span class="input-group-text">Regex Filter</span>
                        <input class="form-control" name=".tigerProxyCfg.proxyCfg.modifications.regexFilter"
                               type="text">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </fieldset>
          <fieldset class="editableList advanced tls start-collapsed" section=".tigerProxyCfg.proxyCfg.tls">
            <legend>
              TLS Configuration
              <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
              <span class="fieldset-summary fs-6"></span>
            </legend>
            <div class="row">
              <div class="col form-text">
                Configure TLS related settings like certificates to be used for TLS connections.
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-text">Server Root Ca</span>
                  <input class="form-control" name=".tigerProxyCfg.proxyCfg.tls.serverRootCa"
                         type="text">
                </div>
                <div class="input-group">
                  <span class="input-group-text">Forward Mutual TLS Identity</span>
                  <input class="form-control" name=".tigerProxyCfg.proxyCfg.tls.forwardMutualTlsIdentity"
                         type="text">
                </div>
                <div class="input-group">
                  <span class="input-group-text">Server Identity</span>
                  <input class="form-control" name=".tigerProxyCfg.proxyCfg.tls.serverIdentity"
                         type="text">
                </div>
                <div class="input-group">
                  <span class="input-group-text">Domain Name</span>
                  <input class="form-control" name=".tigerProxyCfg.proxyCfg.tls.domainName" type="text">
                </div>
              </div>
            </div>
            <label class="form-label" style="margin-top: 1rem;">Alternative Names</label>
            <div class="row">
              <div class="col align-items-stretch">
                <ul class="list-group" name=".tigerProxyCfg.proxyCfg.tls.alternativeNames"></ul>
              </div>
              <div class="col-auto col-list-btns">
              </div>
            </div>
            <label class="form-label" style="margin-top: 1rem;">Server SSL Suites</label>
            <div class="row">
              <div class="col align-items-stretch">
                <ul class="list-group" name=".tigerProxyCfg.proxyCfg.tls.serverSslSuites"></ul>
              </div>
              <div class="col-auto col-list-btns">
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <!-- PKIKEYS Panel -->
      <div class="tab-pane fade pkiKeys" id="tab-13" role="tabpanel">
        <fieldset class="complex-list" section="pkiKeys">
          <legend>
            PKI Keys
            <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
            <span class="fieldset-summary fs-6"></span>
          </legend>
          <div class="row">
            <div class="col form-text">
              Here you can specify keys and certificates that should be provided to the local tiger proxy.
            </div>
          </div>
          <div class="row">
            <div class="col align-items-stretch">
              <ul class="list-group" name="pkiKeys"></ul>
            </div>
            <div class="col-auto col-list-btns">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <fieldset class="subset subset-below">
                <div class="row">
                  <div class="col">
                    <div class="input-group input-group">
                      <span class="input-group-text" style="width:15%;">Pem</span>
                      <textarea class="form-control" name="pkiKeys.pem" rows="6">
                          </textarea>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group input-group">
                      <span class="input-group-text">Id</span>
                      <input class="form-control" name="pkiKeys.id" type="text">
                    </div>
                    <div class="input-group input-group">
                      <span class="input-group-text">Type</span>
                      <select class="form-select" name="pkiKeys.type"
                              title="Select the type of the PKI item">
                        <option value="Certificate">Certificate</option>
                        <option value="Key">Key</option>
                      </select>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </fieldset>
      </div>
      <!-- ENVIRONMENT PANEL -->
      <div class="tab-pane fade environment" id="tab-14" role="tabpanel">
        <fieldset class="editableList" section="environment">
          <legend>
            Environment variables for server
            <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
            <span class="fieldset-summary fs-6"></span>
          </legend>
          <div class="row">
            <div class="col form-text">
              Here you can specify environment variables that will be set in the local context before instantiating
              the node.
              Please use the pattern ENV_VAR_NAME<b>=</b>value.<br/>
            </div>
          </div>
          <div class="row">
            <div class="col align-items-stretch">
              <ul class="list-group" name="environment"></ul>
            </div>
            <div class="col-auto col-list-btns">
            </div>
          </div>
        </fieldset>
        <fieldset class="always-shown editableList" section="exports">
          <legend>
            Exported system properties
            <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
            <span class="fieldset-summary fs-6"></span>
          </legend>
          <div class="row">
            <div class="col form-text">
              Here you can specify java system properties that will be available to the test suite.
              Please use the pattern system.property.key<b>=</b>value.<br/>
              Using ${NAME} in the value part will be replaced with the configured hostname.
              TODO TGR-266 also explain that env vars can be used as tokens
            </div>
          </div>
          <div class="row">
            <div class="col align-items-stretch">
              <ul class="list-group" name="exports"></ul>
            </div>
            <div class="col-auto col-list-btns">
            </div>
          </div>
        </fieldset>
      </div>
      <!-- URL MAPPINGS Panel -->
      <div class="tab-pane fade urlMappings" id="tab-15" role="tabpanel">
        <fieldset class="editableList" section="urlMappings">
          <legend>
            URL Mappings for local Tiger Proxy
            <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
            <span class="fieldset-summary fs-6"></span>
          </legend>
          <div class="row">
            <div class="col form-text">
              Here you can specify routes for the local tiger proxy to be activated if this node is active.
              Please provide it in the format http(s)://host:port <b>--&gt;</b> http(s)://newhost:newport
            </div>
          </div>
          <div class="row">
            <div class="col align-items-stretch">
              <ul class="list-group" name="urlMappings"></ul>
            </div>
            <div class="col-auto col-list-btns">
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div id="template-list-apply-button">
    <button class="btn btn-secondary btn-list-apply m-3" title="Anwenden" type="button">
      Anwenden
    </button>
  </div>

  <div id="template-list-all-buttons">
    <p class="text-end">
      <button class="btn btn-right text-primary btn-list-add" title="Hinzufügen" type="button">
        <i class="fas fa-plus"></i> Hinzufügen
      </button>
    </p>
  </div>

  <!-- TODO summary regex deluxe -->
  <fieldset class="editableList" id="template-source-list" section="source-settings">
    <legend>
      Source
      <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
      <span class="fieldset-summary fs-6"></span>
    </legend>
    <div class="row">
      <div class="col align-items-stretch">
        <ul class="list-group" name="source"></ul>
      </div>
      <div class="col-auto col-list-btns">
      </div>
    </div>
    <div class="input-group" style="margin-top: 1rem;">
      <span class="input-group-text">Version</span>
      <input class="form-control" name="version" title="Version of the docker image or tiger proxy to be downloaded and instantiated"
             type="text">
    </div>
  </fieldset>

  <fieldset id="template-source-single" section="source-settings">
    <legend>
      Source
      <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
      <span class="fieldset-summary fs-6"></span>
    </legend>
    <div class="input-group">
      <textarea class="form-control" name="source" required rows="3" title="Source for this node">
      </textarea>
      <div class="invalid-feedback">Source must not be empty.</div>
    </div>
    <div class="row input-group mt-2">
      <span class="input-group-text">Version</span>
      <input class="form-control" name="version" required title="Version of the docker image to be downloaded and instantiated"
             type="text"
             validation="value.length">
      <div class="invalid-feedback">Version must not be empty.</div>
    </div>
  </fieldset>

  <fieldset id="template-source-select" section="source-settings">
    <legend>
      Source
      <i class="collapse-icon fas fa-angle-down"></i>&nbsp;
      <span class="fieldset-summary fs-6"></span>
    </legend>
    <div class="input-group">
      <span class="input-group-text">Source</span>
      <select class="form-select" name="source"
              title="Select the source from where to download the tiger proxy">
        <option selected value="nexus">nexus</option>
        <option value="maven">maven</option>
      </select></div>
    <div class="input-group" style="margin-top: 1rem;">
      <span class="input-group-text">Version</span>
      <input class="form-control" name="version" title="Version of the tiger proxy to be downloaded and instantiated"
             type="text"
             validation="value.match(/\d*\.\d*\.\d*(|-.*)/g)">
      <div class="invalid-feedback">Version must match maven format xxx.yyy.zzz[-SNAPSHOT].</div>
    </div>
  </fieldset>
</section>

<section id="unique-modals">
  <div class="modal fade" id="file-navigation-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">File navigation</h5>
        </div>
        <div class="input-group filepath labels-col-1">
          <span class="input-group-text">Path</span>
          <input class="form-control" name="file-navigation-path" type="text">
        </div>
        <div class="modal-body">
          Loading file list...
        </div>
        <div class="input-group file-navigation-save">
          <span class="input-group-text">Save as:</span>
          <input class="form-control" name="file-navigation-save" type="text">
        </div>
        <div class="modal-footer">
          <div class="dropup">
            <button aria-expanded="false" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" id="dropdown-rootfs"
                    type="button">
              Drives
            </button>
            <ul aria-labelledby="dropdown-rootfs" class="dropdown-menu fs-list-roots-list">
            </ul>
          </div>
          <button class="btn btn-secondary btn-filenav-cancel" type="button">Cancel</button>
          <button class="btn btn-primary btn-filenav-ok" type="button">Ok</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="add-server-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Server hinzufügen</h5>
        </div>
        <div class="modal-body">
          <div class="row h-100">
            <div class="col">
              <p class="text-neutral-500">Wählen Sie zunächst einen Servertyp oder eine Testvorlage aus. Sie können Ihrem Projekt später weitere Typen und Vorlagen hinzufügen.</p>
              <div class="dropdown list-server-types btn-group w-50">
                <button class="btn text-start p-3 dropdown-toggle" type="button" data-bs-toggle="dropdown" >Bitte wählen</button>
                <ul class="dropdown-menu w-50">
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="info-block col p-3 mx-3 my-2">
            </div>
            <div class="info-intro-text hidden">
              <h2>Add a new server to your test environment</h2>
              <p>
                Please select one of the basic server types from the left list or choose a more sophisticated server
                node
                from the list of templates at the bottom of the left list. by clicking on it a more detailed description
                to each type/template will be shown. To add it press the button on the bottom right.
              </p>
            </div>
            <div class="info-docker hidden">
              <p>
                With the base type "Docker" you can specify a docker image from a remote docker registry. Tiger will
                download the image and start a local container on your machine.
              </p>
              <p class="list-server-types-example">
                <b><i class="far fa-hand-point-right"></i> Example use case:</b> run some tests agains a server in a
                docker container.
              </p>
              <p>
                Exposed ports will be available with the expression ${PORT:localport} in the Exports list.
                ${NAME} will be replaced with the hostname.
              </p>
            </div>
            <div class="info-externalJar hidden">
              <p>
                With the base type "external Jar" you can specify a local jar file to be executed on your machine (with
                customizable options and program arguments).
                In most cases the jar will start a server. The local test suite proxy will then route traffic from the
                given hostname for this node to the external Jar (reverse proxy mode).
                The healthcheck attribute will determine the servers access URL (= the destination address for the test
                suite proxy). This way your test suite needs to know nothing about the external address and can switch
                between different
                servers without any changes in its configuration.
              </p>
              <p class="list-server-types-example">
                <b><i class="far fa-hand-point-right"></i> Example use case:</b> locally run some tests agains the
                server you are developing (your server = "the external jar")
              </p>
              <p>
                ${NAME} will be replaced with the hostname in the Exports list.
              </p>
            </div>
            <div class="info-tigerProxy hidden">
              <p>
                With the base type "Tiger proxy" you can add a forward or reverse proxy to your test
                environment.
                These proxies will not be available to the test suite or nodes out of the box but must be configured on
                the nodes.
              </p>
              <p class="list-server-types-example">
                <b><i class="far fa-hand-point-right"></i> Example use case:</b> configure additional forward proxies
                for nodes in your environment or to facade nodes via a reverse proxy.
              </p>
            </div>
            <div class="info-externalUrl hidden">
              <p>
                With the base type "external URL" you can specify an external internet address where a service is
                hosted. The local test suite proxy will then route traffic from the given hostname for this node to the
                external URL (reverse proxy mode).
                This way your test suite needs to know nothing about the external address and can switch between
                different servers without any changes in its configuration.
              </p>
              <p class="list-server-types-example">
                <b><i class="far fa-hand-point-right"></i> Example use case:</b> run some tests agains a server that
                someone else is hosting (server address = "the external URL")
              </p>
              <p>
                ${NAME} will be replaced with the hostname in the Exports list.
              </p>
            </div>
            <div class="info-compose hidden">
              <p>
                With the base type "Docker Compose" you can specify one or more docker compose scripts and the test
                environment manager will set up all services locally.
              </p>
              <p class="list-server-types-example">
                <b><i class="far fa-hand-point-right"></i> Example use case:</b> run some tests agains a group of
                servers in a docker composition.
              </p>
              <p>
                Exposed ports will be available with the expression ${PORT:localport} in the Exports list.
                ${NAME} will be replaced with the hostname.
              </p>
            </div>
            <div class="info-idp-ref hidden">
              <p>
                This template provides the reference implementation of the IDP server as local docker container.
                The docker image is loaded from a gematik internal docker registry server.
              </p>
              <p>
                The system property IDP_SERVER is set to the URL of the Discovery Document end point and is available
                for all subsequently initiated test environment nodes.
              </p>
            </div>
            <div class="info-idp-rise-ru hidden">
              <p>
                This template provides the RU instance of RISE’s IDP server as an "external URL".
              </p>
              <p>The system properties IDP_SERVER and GEMATIK_TESTCONFIG are set to the URL
                of the Discovery Document end point and a config-file for the IDP test suite respectively.
                They are available for all subsequently initiated test environment nodes.
              </p>
            </div>
            <div class="info-idp-rise-tu hidden">
              <p>
                This template provides the TU instance of RISE’s IDP server as an "external URL".
              </p>
              <p>The system properties IDP_SERVER and GEMATIK_TESTCONFIG are set to the URL
                of the Discovery Document end point and a config-file for the IDP test suite respectively.
                They are available for all subsequently initiated test environment nodes.
              </p>
            </div>
            <div class="info-erzpt-fd-ref hidden">
              <p>This template provides the reference implementation of the eRezept server
                as a local docker container.
                The docker image is loaded from a gematik internal docker registry server.
                Make sure that an IDP server node is instantiated before the ERp FD is started and
                that it is available under http://idp or adapt the environment variable configuration.
              </p>
              <p>
                A large list of environment variables is set.
                But dont worry, it is just the server that uses them.
              </p>
            </div>
            <div class="info-epa2 hidden">
              <p>
                This template provides the gematik reference Aktensystem simulation as docker compose.
              </p>
            </div>
            <div class="info-pssim hidden">
              <p>
                This template provides a Primärsystem simulation (as a jar), usable for ePA.
                See https://wiki.gematik.de/display/PTP/epa-ps for more information.
              </p>
            </div>
            <div class="info-kon-sim hidden">
              <p>
                This template provides a Konnektor simulation (as external jar).
                See https://wiki.gematik.de/display/PTP/KonSim for more information.
              </p>
            </div>
            <div class="info-konsim hidden">
              <p>
                This template provides a Konnektor simulation (as external jar).
                See https://wiki.gematik.de/display/PTP/KonSim for more information.
              </p>
            </div>
            <div class="info-epa2-fdv hidden">
              <p>
                This template provides FdV simulation, usable for ePA.
              </p>
            </div>
            <div class="info-demis hidden">
              <p>
                This template provides the DEMIS Meldeportal as local docker compose.
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-add-server-cancel" title="Abbrechen und Dialog schließen" type="button">Abbrechen</button>
          <button class="btn btn-primary btn-add-server-ok" title="Ausgewählten Testknoten hinzufügen" type="button">Hinzufügen</button>
        </div>
      </div>
    </div>
  </div>


</section>


<script th:src="@{/webjars/bootstrap/5.1.1/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<!-- https://github.com/Script47/bs5-utils -->
<script th:src="@{/js/bs5util.js}" type="text/javascript"></script>
<script th:src="@{/js/common.js}" type="text/javascript"></script>
<script th:src="@{/js/collapse.js}" type="text/javascript"></script>
<script th:src="@{/js/inputfields.js}" type="text/javascript"></script>
<script th:src="@{/js/lists.js}" type="text/javascript"></script>
<script th:src="@{/js/summary.js}" type="text/javascript"></script>
<script th:src="@{/js/advanced.js}" type="text/javascript"></script>
<script th:src="@{/js/menu.js}" type="text/javascript"></script>
<script th:src="@{/js/formular.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.contextMenu.min.js}"></script>
<script th:src="@{/js/jquery.ui.position.js}"></script>
<script th:src="@{/js/BsMultiSelect.min.js}"></script>
<script th:src="@{/js/initialization.js}" type="text/javascript"></script>
</body>
</html>
