<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>YML page</title>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <link th:href="@{/webjars/font-awesome/5.15.4/css/all.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.1.1/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row my-row">
        <div class="col-sm-3 col-md-3 text-center">
            <strong>YML</strong>
        </div>
        <div class="col-sm-9 col-md-9 text-center">
            <strong><p th:text="${filename}"/></strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 text-center">
            <button type="button" class="btn">
                <i class="fas fa-file fa-lg"></i>
            </button>
            <button type="button" class="btn">
                <i class="fas fa-upload fa-lg"></i>
            </button>
            <button type="button" class="btn">
                <i class="fas fa-download fa-lg"></i>
            </button>
        </div>
        <div class="col-sm-8 col-md-8">
            <div class="align">
                <button type="button" class="btn">
                    <i class="fas fa-plus-circle fa-lg"></i>
                    <span>Add a server</span>
                </button>
            </div>
            <div class="accordion" id="serverAccordion">
                <div class="accordion-item col-sm-6 col-md-6 centered">
                    <h2 class="accordion-header" id="headingOne">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne">
                            <i class="fas fa-server fa-lg"></i>
                            <span>&nbsp;&nbsp;Server1</span>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#serverAccordion">
                        <div class="card-body">
                            <div id="modal1 formular" th:insert="modals/formularModal :: formularModal"></div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item col-sm-6 col-md-6 centered">
                    <h2 class="accordion-header" id="headingTwo">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo">
                            <i class="fas fa-server fa-lg"></i>
                            &nbsp;&nbsp;Server2
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#serverAccordion">
                        <div class="card-body">
                            <div id="modal2 formular" th:insert="modals/formularModal :: formularModal"></div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item col-sm-6 col-md-6 centered">
                    <h2 class="accordion-header" id="headingThree">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree">
                            <i class="fas fa-server fa-lg"></i>
                            &nbsp;&nbsp;Server3
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#serverAccordion">
                        <div class="card-body">
                            <div id="modal3 formular" th:insert="modals/formularModal :: formularModal"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>