<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Modal -->
<div th:fragment="formularModal">
    <div class="container">
        <div class="align">
            <button type="button" class="btn">
                <i class="fas fa-undo fa-lg"></i>
            </button>
            <button type="button" class="btn">
                <i class="fas fa-edit fa-lg"></i>
            </button>
        </div>
        <div class="row">
            <div class="col">
                <label for="name" class="col-form-label label-centered">Name:</label>
                <div class="col">
                    <input type="name" readonly class="form-control text-center" th:value="server1" id="name">
                </div>
            </div>
            <div class="col">
                <label for="name" class="col-form-label label-centered">Source:</label>
                <div class="col">
                    <input type="text" readonly class="form-control text-center" th:value="source1" id="source">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="name" class="col-form-label label-centered">Type:</label>
                <div class="col">
                    <input type="text" readonly class="form-control text-center" th:value="type1" id="type">
                </div>
            </div>
            <div class="col">
                <label for="name" class=" col-form-label label-centered">Docker options:</label>
                <div class="col">
                    <input type="text" readonly class="form-control text-center" th:value="dockeroption1"
                           id="dockerOptions">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>